@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img {
    max-width: 100%;
}

.navAyar {
    background-color: rgba(0, 0, 0, .3);

}


.ayarImg {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 80vh;
}

.slider1 {
    background-image: url(images/dubai.jpg);
    
}

.slider2 {
    background-image: url(images/spain.jpg);
}

.slider3 {
    background-image: url(images/sl1.jpg);
}

.slider4 {
    background-image: url(images/england.jpg);
}

ul li a {
    color: white !important;
}

.logo {
    width: 30px;
}

.row {
    margin: 0;
    padding: 0;
}


.moonbg {
    background: #0a2a43;
    width: 100%;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #0a2a43, transparent);
    z-index: 10000;
}

section ::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 10000;
    mix-blend-mode: color;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;

}

span {
    display: flex;
}

#text {
    position: relative;
    color: #fff;
    text-align: center;
    align-items: center;
    font-family: 'Dancing Script'
}

#road {
    z-index: 2;
}

.boxS {
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

    border-radius: 5%;
}

.col1 {
    background-image: url(images/gezi.jpg);
    height: 250px;
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
}

.col2 {
    background-image: url(images/yemek.jpg);
    height: 250px;
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
}

.col3 {
    background-image: url(images/kale.jpg);
    height: 250px;
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
}

.col4 {
    background-image: url(images/haber.jpg);
    height: 250px;
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
}

::-webkit-scrollbar {
    width: 10px;
    background:  #0a2a43;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent,#5bd161);
    border-radius: 6px;
    
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent,#64a7de);
}

.cards1{
    height: 400px;
    background-image: url(images/selale.jpg);
    margin-bottom: 5%;
}

.cards2{
    height: 400px;
    margin-bottom: 5%;
    overflow: auto;
}

.cards3{
    height: 400px;
    background-image: url(images/yemekler.jpg);
}

.populerYazi{
    font-size: 1.3rem;
    margin-top: 15px;
}
.cards4{
    height: 400px;
    background-image: url(images/piramit.jpg);
}
.logomuz {
    z-index: 100000;
    height: auto;
    display: inline-block;
    position: fixed;
    right: 5%;
    bottom: 4%;

    
}


.resimLink img{
    width: 40px !important;
}

.navbar{
    z-index: 10000000;
}

.card{
    overflow: hidden;
    margin-bottom: 10px;
}


.bgLezzet{
    width: 100%;
    height: 100vh;
    background-image: url(images/kabp.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
}

.lezzetYazi{
    font-size: 5rem;
    font-family: 'Dancing Script', cursive;
}

.yazis{
    font-family: 'Dancing Script' !important;
}

.cardResim{
    width: 50%;
    height: 300px;    
    background-position: center;
    background-size: cover;
}

.resim1{
    background-image: url(images/yemekler.jpg);
}

.resim2{
    background-image: url(images/pizza.jpg);
}

.resim3{
    background-image: url(images/food1.jpg);
}
.resim4{
    background-image: url(images/food2.jpg);
}

.text-center h3{
    font-family: 'Dancing Script' !important;
}

.text-center p{
    font-family: 'Dancing Script' !important;
}
.nav-item a{
    font-family: "Dm Serif Display";
}

.heroImg{
    width: 100%;
    height: 25vh;
    background: linear-gradient(rgba(126, 165, 212, 0.5),rgba(76, 56, 165, 0.5)), url(images/bar.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.icerik2{
   display: block; 
}
.yaziH{
    padding-left: 10%;
    padding-right: 10%;
}

.person{
    width: 60%;
}
.multiText{
    color: #7f00ff;
    text-transform: capitalize;
}

.topline{
    display: block;
    position: relative;
    font-size: 1.5rem;
    letter-spacing: 2px;
    color: #ffffff;
}



.iletisim{    
    color: white;   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;    
}
.fontum{
    font-family: 'Pacifico', cursive;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}
.bgSolar{
    background-image: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.1)),url(images/bgiletisim.jpg);   
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}
.pngM{
    width: 20px;
}

#loader{
    background: #000 url(images/loader.gif) no-repeat center center;
    min-height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.hisY{
    font-size: 4rem;
    margin-top: 20px;
}

.c1{
    height: 300px;
    background-image: url(images/c1.jpg);
    background-position: center;
    background-size: cover;
}
.c2{
    height: 300px;
    background-image: url(images/c2.jpg);
    background-position: center;
    background-size: cover;
}
.c3{
    height: 300px;
    background-image: url(images/c3.jpg);
    background-position: center;
    background-size: cover;
}

.c4{
    height: 300px;
    background-image: url(images/bar.jpg);
    background-position: center;
    background-size: cover;
}
.c5{
    height: 300px;
    background-image: url(images/h21.jpg);
    background-position: center;
    background-size: cover;
}
.c6{
    height: 300px;
    background-image: url(images/h22.jpg);
    background-position: center;
    background-size: cover;
}
.c7{
    height: 300px;
    background-image: url(images/c4.jpg);
    background-position: center;
    background-size: cover;
}

.c8{
    height: 300px;
    background-image: url(images/c11.jpg);
    background-position: center;
    background-size: cover;
}
.c9{
    height: 300px;
    background-image: url(images/c22.jpg);
    background-position: center;
    background-size: cover;
}
.c10{
    height: 300px;
    background-image: url(images/c33.jpg);
    background-position: center;
    background-size: cover;
}
.cardim{
    transition: all 0.5s ease;
    position: relative;
}

.cardim:hover{
    transform: translateY(-10px);
    filter: grayscale(100%);
    background-image: linear-gradient(rgba(126, 165, 212, 0.8),rgba(76, 56, 165, 0.8)),url(images/logomz.jpg);
}
.kaleY{
    font-size: 2.5rem;
}
.kaleS{
    font-size: 1.5rem;
}

.tarihD{
    display: none;
}







@media screen and (max-width:600px) {
    .cardResim{
        width: 100%;
    }
}

